<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Tasks</title>
</head>
<body>
    <ul>
        <li>Task 1</li>
        <li>Task 2</li>
        <li>Task 3</li>
    </ul>
</body>

    <h3>Add a New Task</h3>
    <form action="/add/task/{{ topic_id }}" method="POST">
        <div>
            <label for="task">Task</label>
            <input type="text" name="task-description">
        </div>

        <input type="submit" value="Add Task">
    </form>
</html>